.about-project__description-item {
  display: grid;
  grid-template-rows: auto;
  row-gap: 26px;
}

@media screen and (min-width: 748px) and (max-width: 1024px) {
  .about-project__description-item {
    row-gap: 24px;
    max-width: 319px;
    width: 100%;
  }
}

@media screen and (min-width: 520px) and (max-width: 748px) {
  .about-project__description-item {
    row-gap: 22px;
  }
}

@media screen and (max-width: 520px) {
  .about-project__description-item {
    row-gap: 16px;
  }
}
