.about-me__content {
  display: grid;
  grid-template-columns: minmax(364px, 600px) minmax(255px, 1fr);
  column-gap: 49px;
  grid-template-rows: 1fr;
  padding-top: 66px;
}



@media screen and (min-width: 520px) and (max-width: 768px) {
  .about-me__content {
    min-height: 306px;
    grid-template-columns: minmax(259px, 364px) minmax(145px, 255px);
    column-gap: 25px;
  }
}

@media screen and (max-width: 520px) {
  .about-me__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
    padding-top: 60px;
  }
}
