.header-unauthorized__menu {
  max-width: 1140px;
  width: calc(100vw - 70px*2);
  margin: 0 auto;
  min-height: 74px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  column-gap: 30px;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #465dff;
}

@media screen and (min-width: 460px) and (max-width: 1280px) {
  .header-unauthorized__menu {
    width: calc(100vw - 30px*2);
  }
}

@media screen and (max-width: 460px) {
  .header-unauthorized__menu {
    width: calc(100vw - 14px*2);
  }
}
