.promo__landing-logo {
  width: 320px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 320px 320px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 520px) and (max-width: 768px) {
  .promo__landing-logo {
    width: 280px;
    background-size: 280px 280px;
  }
}

@media screen and (max-width: 520px) {
  .promo__landing-logo {
    width: 248px;
    background-size: 248px 248px;
  }
}
