.movies-search {
  display: grid;
  max-width: 1140px;
  width: calc(100vw - 70px*2);
  grid-template-rows: auto;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  padding: 70px 0 48px;
}

@media screen and (min-width: 460px) and (max-width: 1280px) {
  .movies-search {
    width: calc(100vw - 30px*2);
  }
}

@media screen and (max-width: 460px) {
  .movies-search {
    width: calc(100vw - 14px*2);
  }
}

@media screen and (min-width: 620px) and (max-width: 768px) {
  .movies-search {
    padding: 80px 0 61px;
  }
}

@media screen and (max-width: 620px) {
  .movies-search {
    padding: 90px 0 51px;
  }
}
