.mobile-menu__list-item {
  font-size: 18px;
  font-weight: 500;
  text-underline-offset: 4px;
}

@media screen and (max-width: 620px) {
  .mobile-menu__list-item {
    text-underline-offset: 7px;
  }
}
