.movies-search__filter-checkbox-tumb-button {
  width: 36px;
  height: 20px;
  border: 0;
  background: transparent;
  background-image: url(./../../../images/movies-search-tumb-icon-type-active.svg);
  background-size: 36px 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .4s;
  padding: 0;
  margin: 0;
}

.movies-search__filter-checkbox-tumb-button:hover {
  opacity: .8;
}
