.not-found-page__header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  padding-top: 250px;
}

@media screen and (min-width: 620px) and (max-width: 1024px) {
  .not-found-page__header {
    padding-top: 412px;
  }
}

@media screen and (max-width: 620px) {
  .not-found-page__header {
    padding-top: 333px;
  }
}

.not-found-page__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 140px;
  font-weight: 400;
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 620px) {
  .not-found-page__title {
    max-width: 300px;
    font-size: 80px;
  }
}

.not-found-page__content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
}

.not-found-page__description {
  font-size: 16px;
  font-weight: 400;
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 8px;
}

@media screen and (max-width: 620px) {
  .not-found-page__description {
    max-width: 300px;
    font-size: 12px;
    padding-top: 10px;
  }
}

.not-found-page__footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
}

.not-found-page__prev-button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #FF6838;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin: 184px 0 30px;
}

@media screen and (max-width: 620px) {
  .not-found-page__prev-button {
    font-size: 12px;
  }
}
